@model Lottery_System.Model.EventInfo

@{
    ViewBag.Title = "新增活動";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <strong>@TempData["ErrorMessage"]</strong>
    </div>
}

<head>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        th, td {
            padding: 10px 20px;
            border: 1px solid #000;
        }
    </style>
</head>
<h2>新增活動</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "target" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EventName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.joinNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.joinNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.joinNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AwardsNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AwardsNum, new { htmlAttributes = new { @class = "form-control Awards" } })
                @Html.ValidationMessageFor(model => model.AwardsNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="newEvents">設定獎項</button>
            </div>
        </div>
    </div>
    <div id="tableBody">
        <table id="table"></table>
        <div id="submit" />
    </div>
}




<script>
    $(document).ready(function () {
        $("#newEvents").click(function () {
            var awardNum = Number($(".Awards").val());
            if (awardNum == 0) {
                alert("獎項需要有效數值");
            } else {
                $("#table").remove();
                $("#submitBtn").remove();
                var table = document.createElement('table');
                table.id = 'table';
                var thead = document.createElement('thead');
                var tbody = document.createElement('tbody');

                table.appendChild(thead);
                table.appendChild(tbody);

                // Adding the entire table to the body tag
                document.getElementById('tableBody').appendChild(table);

                var row_1 = document.createElement('tr');
                var heading_1 = document.createElement('th');
                heading_1.innerHTML = "獎項";
                var heading_2 = document.createElement('th');
                heading_2.innerHTML = "中獎人數";

                row_1.appendChild(heading_1);
                row_1.appendChild(heading_2);
                thead.appendChild(row_1);


                for (var i = 1; i <= awardNum; i++) {
                    var row = document.createElement('tr');
                    var row_data_1 = document.createElement('td');
                    row_data_1.innerHTML = i;
                    var row_data_2 = document.createElement('td');
                    var textfield = document.createElement("input");
                    textfield.type = "number"; textfield.value = "";
                    textfield.name = "Awards" + i;
                    textfield.min = 1; textfield.value = 1;
                    row_data_2.appendChild(textfield);
                    row.appendChild(row_data_1);
                    row.appendChild(row_data_2);
                    tbody.appendChild(row);
                }


                var submitfield = document.createElement("button");
                submitfield.type = "button"; submitfield.innerText = "新增活動";
                submitfield.id = "submitBtn"; submitfield.class = "btn btn -default";
                submitfield.style = "margin: 10px 0px 0px 0px";
                document.getElementById('tableBody').appendChild(submitfield);
                $("#submitBtn").click(function () {
                    alert("產生人員，請稍後");
                    $("#target").submit();
                });
            }

        });
        
    });
</script>

